
proj3_restart_git/proj3_restart_git.opensdf
proj3_restart_git/proj3_restart_git/dicionario.txt
proj3_restart_git/proj3_restart_git/proj3_restart_git.vcxproj.user
proj3_restart_git/proj3_restart_git/proj3_restart_git.vcxproj.filters
proj3_restart_git/proj3_restart_git/proj3_restart_git.vcxproj
proj3_restart_git/proj3_restart_git.suo
proj3_restart_git/proj3_restart_git.sdf